footer
  div.lockup
    div.logo

    div.content-wrap
      nav
        a(href='/#about-me') 
        a(href='/#Experenice') Experience
        a(href='/#Blog') Blog
        a(href='/#Details') 


      p.copyright John Smith 2015
