#container1.arrow
#container.logo
header#home
  nav

    a(href='#about-me') 
    a(href='#Experenice') Experience
    a(href='#Blog') Blog
    a(href='#Details') 


  h1
    span John Smith
  p.kicker Software Engineer // Developer // Designer
