<section><h2 id="about-me">Message</h2><hr class="bar"/><div class="about-lock">
  <p>
  <br>
  Just a small token of love for the most beautiful girl I've ever met.<br>
  Thanks for coming to my life and making it extra special.   </p>
  </div><div class="skill-lock"></div>
</section>
<div>
  <p>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<img src="../assets/img/brj.jpg"><img src="../assets/img/bh2.jpg"><img src="../assets/img/eng1.jpeg"></p>
<br>
  <p>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<img src="../assets/img/bharatput.jpg"><img src="../assets/img/hoodie.jpeg"><img src="../assets/img/eng2.jpeg"></p>
</div>
