<section><h2 id="about-me">Message</h2><hr class="bar"/><div class="about-lock">
  <p>
  <br>
  &ensp;Just a small token of love for the most beautiful girl I've ever met.<br>
  &ensp;Thanks for coming to my life and making it extra special. I never thought that I can fall in love with someone but you just swept me off my feet and made my world a better place. <br>
  &ensp;I used to listen to a lot of love songs and read a lot of shayaris but now I truly realize the meaning of it.<br>
  &ensp;Thanks for making me a better person with evey passing day.<br>
  &ensp;I might not be able to promise you that we won't have up and downs but I do promise that I'll always be there with you through those up and downs,
 So I just want to wish us a very happy married life that we are going to have soon
<br> &ensp;P.S. - sorry for the simplicty of this page. I was only able to learn this much in last few days XD</p>
  </div><div class="skill-lock"></div>
</section>
<div>
  <p>&ensp;<img src="../assets/img/brj.jpg"><img src="../assets/img/bh2.jpg"><img src="../assets/img/eng1.jpeg"></p>
<br>
  <p>&ensp;<img src="../assets/img/bharatput.jpg"><img src="../assets/img/hoodie.jpeg"><img src="../assets/img/eng2.jpeg"></p>
</div>
